<!-- @dsCard group="Chrome" viewport="720x360" name="Chrome" subtitle="TopBar, FootBar" -->
<!DOCTYPE html><html><head><meta charset="utf-8"><link rel="stylesheet" href="../../styles.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" crossorigin="anonymous"></script>
<script src="../../_ds_bundle.js"></script>
</head><body style="margin:0;background:var(--ground);background-image:var(--wash)">
<div id="root"></div>
<script>window.__dsReady = new Promise(function(res){var t0=Date.now();(function poll(){if(window.WishboneGolfDesignSystem_4d0e77){res(true)}else if(Date.now()-t0>8000){document.getElementById('root').innerHTML='<div style="padding:24px;font-family:monospace;font-size:13px;color:#fff">Design-system bundle not loaded yet (_ds_bundle.js). Reload the page.</div>';res(false)}else{setTimeout(poll,100)}})()});</script>
<script type="text/babel" data-ds-deferred="true">
const ns = window.WishboneGolfDesignSystem_4d0e77 || {};
const { TopBar, FootBar, Board, TrustTile } = ns;
ReactDOM.createRoot(document.getElementById('root')).render(
  <div style={{padding:'0 24px'}}><TopBar cart={2} />
    <Board><TrustTile n="01" label="spare parts listed" value="22" hot /><TrustTile n="02" label="models" value="05" /><TrustTile n="03" label="designed in" value="UK" /></Board>
    <FootBar /></div>);
</script></body></html>
